<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link href='https://fonts.google.com/specimen/Abyssinica+SIL#styles' rel='stylesheet' type='text/css'>
        <link href="{% static 'home/styles/style.css' %}" rel="stylesheet" type="text/css">
        <title>Home page</title>
    </head>

    <body>
        <div>
            <h1 id="title">
                Title
            </h1>
            <img src="{% static 'home/7.gif' %}" >
        </div>
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Send" >
        </form>

        <table>
            <caption>Это caption</caption>
            <thead>
                <tr>
                    <th> Имя </th>
                    <th> Возвраст </th>
                    <th> Пол </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td> Amelia </td>
                    <td> Rozova </td>
                    <td> Woman </td>
                </tr>
            </tfoot>
            <tr>
                <td> Bob </td>
                <td> Lindeman </td>
                <td> Man </td>
            </tr>
            <tr>
                <td> Maria </td>
                <td> Lindeman </td>
                <td> Woman </td>
            </tr>
        </table>

    </body>
</html>