<!DOCTYPE HTML>

<html>
<head>
    {% load static %}
<link rel="stylesheet" href="{% static 'homework3/styles/style.css' %}">
</head>

<body>
    <div class="header">
        <div class="logo">
            <img class="image" src="{% static 'homework3/logo.svg' %}">
            <div class="text">
                The problem
            </div>
            <!-- <div class="bord">
                |
            </div> -->
            <div class="text">
                PiedPiperCoin
            </div>
            <!-- <div class="bord">
                |
            </div> -->
            <div class="the_team">
                the team
            </div>
        </div>
    </div>

    <div class="background-image">
        <div class="PiperNet-Is-Here">
            PiperNet Is Here
        </div>
        <!-- <img src="{% static 'homework3/image.png' %}"> -->

    </div>

    <div class="clipping">
        <p class="tittle_clip">Introducing PiedPiperCoin</p>
        <div class="clip_image_content">
            <img class="clip_image" src="{% static 'homework3/PPC Logo.png' %}">
            <p class="content_clip">Pied Piper's new internet is built for users, by users.
                You supply the storage, compute, and networking resources that power our entire decentralized web.</p>
        </div>
        <p class="clip_foot">
            Now there's a way to give credit where credit is due. Compute credit, that is!
            The more you share your device resources, the more PiedPiperCoin you receive.<br>

            <br>Whether you're a developer with an app ready for market, or just an Average Joe
             with a smartphone you'll love all you can do with PiedPiperCoin.
        </p>
    </div>

    <div class="team">
        <p class="the_team_team">The Team</p>
        <div class="richard">
            <div>
                <img class="img_richard" src="{% static 'homework3/image (1).png' %}">
                <div class="richard1">
                    <p>richard</p>
                </div>
                <div class="richard2"><p>ричард</p></div>
            </div>
        </div>

    </div>

</body>
</html>