body {
    margin: 0px
}

.content {
    width: 1219px;
    margin: 0 auto

}

.background-image {
    background-image: url('../image.png');
    background-size: cover;
    height: 403px;
    bottom: -100px;
    text-align: center;
    font-size: 72px;
    font-family: sans-serif;
}

.blue_background_image {
    position: relative;
    background-image: url('../image2.png');
    background-size: cover;
    height: 483px;
    text-align: center;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-top: 80px;
}

.text_blue_background {
    color: white;
    padding: 10% 20%;
    margin: 0px;
}

.PiperNet-Is-Here {
    position: relative;
    color: white;
    top: 50%;
    z-index: 2;
}

.header {
    position: fixed;
    font-family: sans-serif;
    font-size: 32px;
    width: 100%;
    min-width: 1000px;
    height: 84px;
    padding: 0px 0%;
    /* margin: 0px; */
    background-color: #007765 ;
    z-index: 99;
}

.logo {
    position: relative;
    text-align: right;
    margin-left: 28px;
    top: 16px
}

.href_text {
    color: white;
    text-decoration: none;
}

.href_text:hover {
    color: white;
    text-decoration: underline;
}

.text {
    margin: 0px 10px;
    display: inline;
    border-right: 4px solid white;
    padding: 0px 5px;
}

.the_team {
    margin: 0px 10px;
    display: inline;
    padding: 0px 5px;
    padding-right: 15px;
}

.image {
    position: absolute;
    left: 10px
    /* float: left; */
}


.clipping {
    padding: 10px 55px;
}

.tittle_clip {
    text-align: center;
    font-size: 64px;
    color: #007765;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.content_clip {
    font-size: 32px;
    font-family: sans-serif;
}

.clip_image {
    float:left;
    margin-right: 60px;
}

.clip_image_content {
    /* display: inline-block; */
}

.the_team_team {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 64px;
    color: #007765;
    text-align: center;
}

.employee_team {
    margin: auto;
}

.employee {
    display: inline-block;
    /* right: -10px; */
    /* margin: 40px 220px; */
    margin: 40px 8.9%;
    padding: 0px 0px;
    /* text-align: center; */

}

.employee_full_name {
    /* display: inline; */
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color:#007765;
}

.employee_position {
    display: inline;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

footer {
    background-color: #333333;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    
}

.text-footer {
    display: inline-block;
    width: 530px;
    margin: 40px 0px
}

.space {
    margin: 10px
}
