body {
    width: 1219px;
    margin: auto
}

.first {
    position: relative;
    font-family: sans-serif;
    font-size: 32px;
    background-color: 007765;
    color: blue;
    padding: 50px;
    background-color: red ;
}

.text {
    position: relative;
    background-color: #007765;
    text-align: 1000px; 
}

.image {
    background-color: blue;
}